.header {
    margin: 0;
    min-height: 100px;
    font-family: 'Avenir Next';
    padding: 0 5%;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 2px solid #003434;
}

.header-logo {
    margin: auto 0;
    padding: 0;
    height: 80px;
    width: 450px;
    background-image: url('../img/osun-logo-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.nav-fullscreen {
    display: flex;
}

.nav-mobile {
    margin: 0;
    padding: 0 0 20px 0;
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    background-color: white;
}

.nav-link {
    font-size: medium;
    margin: 0;
    font-family: 'Avenir Next';
    color: #003434;
}

.nav-link-mobile {
    padding: 15px 0;
}

.nav-link:hover {
    text-decoration: underline;
    color: rgba(0, 52, 52, 0.7);
}

.header-mobile-menu-button {
    margin: auto 0;
    padding: 0;
    background-image: url('../img/hamburger-menu.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: none;
}

@media screen and (max-width: 1100px) {
    .header-logo {
        width: 180px;
        background-size: contain;
    }
}

@media screen and (max-width: 780px) {
    .header {
        flex-wrap: wrap;
    }

    .nav-fullscreen {
        display: none;
    }

    .header-mobile-menu-button {
        display: block;
    }

    .nav-mobile {
        display: flex;
    }
}