@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next') url('../src/fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}